@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Inter Tight", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* create a var for a color */
  --primary-color: #347928;
  --secondary-color: #c0eba6;
  --hover-color: #535bf2;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
}

/* mozilla solution */
input:-moz-placeholder {
  text-align: right;
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
  padding: 10px;
}

a:hover {
  color: var(--hover-color);
}

body {
  background: #ecf0f1;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.eventsNearBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.events-x1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 1em;
}

.section-se {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container-se {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.search-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.search-event input {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-color);
  background-color: #dedfdf;
  margin-left: 5px;
  cursor: pointer;
  transition: border-color 0.25s;
}

.aside-stored-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  border-style: solid;
  color: var(--primary-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: #f9f9f9;
  }
}
